ansible==2.9.6
ansible-lint==4.2.0
argcomplete==1.11.1
awscli==1.18.32
botocore==1.15.32
cffi==1.14.0
colorama==0.4.3
cryptography==2.8
docopt==0.6.2
docutils==0.15.2
importlib-metadata==1.6.0
Jinja2==2.11.1
jmespath==0.9.5
jq==0.1.6
json2yaml==1.1.1
MarkupSafe==1.1.1
pathspec==0.7.0
pyaml==20.3.1
pyasn1==0.4.8
pycparser==2.20
python-dateutil==2.8.1
PyYAML==5.4
rsa==3.4.2
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
s3transfer==0.3.3
six==1.14.0
urllib3==1.25.8
xmltodict==0.12.0
yamllint==1.21.0
yq==2.10.0
zipp==3.1.0
